* {
  background-color: #DDDDDD
}

.title {
  color: #502278;
  font-size: 45px;
}

.headersCentered {
  text-align: center;
  margin: 4rem auto;
}

.list {
  list-style: none;
  font-size: 26px;
  margin-top: 4rem;
  margin-left: 7rem;
}

.listItems {
  margin-left: 4rem;
  font-size: 20px;
}

.listItems strong {
    color: #502278
}

.hidden {
  display: none;
}

.unhidden {
  display: block;
}